{% extends 'base.html' %} 

{% load static %} 

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br>
    
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom alert-heading alert alert-info">
        <h1 class="h2">Yeni Ürün Ekle</h1>
  
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>

        </div>
      </div>
 
<div class="row">
<div class="col-sm-12">
    <div class="x_content">
         
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              
            </div>
            <form method="POST">
              {% csrf_token %} {{form}}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Ürün Numarası</label>
                  <input
                    type="text"
                    class="form-control"
                    id="product_id"
                    name="product_id"
                  />
                  <label>Başlık</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                  />
                  <label>Fiyat </label>
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                  />
                 
                  <label>Adet </label>
                  <input
                    type="text"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                  />
                </div>

                <button type="submit" class="btn btn-primary">
                  Add New Product
                </button>
              </div>
            </form>
          </div>
</div>
</div>  
      </div>
    </main>
  </div>
</div>

 {% endblock content %}